**/*{.,-}min.js
application.js
cable.js
chosen.jquery.min.js
easyzoom.min.js
functions.min.js
imagesloaded.pkgd.min.js
isotope.pkgd.min.js
jquery.actual.min.js
jquery.countdown.min.js
jquery.hoverdir.min.js
jquery.magnific-popup.min.js
jquery.mCustomScrollbar.concat.min.js
jquery.parallax-1.1.3.min.js
jquery.plugin.min.js
masonry.min.js
masonry.pkgd.min.js
Modernizr.min.js
