<div class="widget widget_product_categories">
  <h2 class="widget-title">
    <%= t "home_page.category.product" %>
  </h2>
  <ul class="product-categories">
    <%= render "categories/category" %>
    <%= render "categories/category" %>
    <%= render "categories/category" %>
  </ul>
</div>
