<nav class="woocommerce-pagination navigation">
  <ul class="page-numbers">
    <li><span class="page-numbers current">1</span></li>
    <li><a class="page-numbers" href="#">2</a></li>
    <li><a class="page-numbers" href="#">3</a></li>
    <li>
      <a class="next page-numbers" href="#">
        <i class="fa fa-long-arrow-right"></i>
      </a>
    </li>
  </ul>
</nav>
