<% current_cart.each do |item| %>
  <tr>
    <td class="product-name"><%= item["product_name"] %></td>
    <td class="product-total">
      <span class="amount">
      <%= number_to_currency item["unit_price"] %>
      </span>
    </td>
  </tr>
<% end %>
