$mike-red: #d9534f;
$mike-bg-red: #d43f3a;
$mike-w: #fff;
$mike-y: #f0ad4e;
$mike-bg-y: #eea236;
$mike-g: #4cae4c;
$mike-g-bg: #5cb85c;
$mike-b: #5bc0de;
$mike-b-bg: #46b8da;

.navbar.navbar-default.navbar-static-top {
  margin-bottom: 0;
}

.table-search {
  margin-top: 15px;
}

.mike-table-img img {
  max-width: 100px;
}

.mike-admin-product-img {
  margin-top: 10%;
}

.mike-admin-langs {
  .title {
    margin-left: 3%;
  }

  .btn-xs {
    display: inline-block;
    margin-left: 3%;
    padding: 5px;
    width: 45%;
  }
}

.mike-label {
  border-radius: 5px;
  color: $mike-w;
  text-transform: capitalize;

  &.label-pending {
    background-color: $mike-y;
    border-color: $mike-bg-y;
  }

  &.label-confirmed {
    background-color: $mike-b;
    border-color: $mike-b-bg;
  }

  &.label-rejected {
    background-color: $mike-red;
    border-color: $mike-bg-red;
  }

  &.label-done {
    background-color: $mike-g-bg;
    border-color: $mike-g;
  }
}

.mike-action {
  border-radius: 5px;
  color: $mike-w;
  display: inline-block;
  padding: 5px 10px;

  &.mike-action-delete {
    background-color: $mike-red;
  }

  &.mike-action-edit {
    background-color: $mike-y;
  }

  &:hover {
    color: $mike-w;
    opacity: .75;
  }
}

.mike-select-qty input {
  max-width: 35px;
}
