.navbar.navbar-default.navbar-static-top {
  margin-bottom: 0;
}

.table-search {
  margin-top: 15px;
}

.mike-table-img img {
  max-width: 100px;
}

.mike-admin-product-img {
  margin-top: 10%;
}

.mike-admin-langs {
  .title {
    margin-left: 3%;
  }

  .btn-xs {
    display: inline-block;
    margin-left: 3%;
    padding: 5px;
    width: 45%;
  }
}
