$mike-red: #d9534f;
$mike-bg-red: #d43f3a;
$mike-w: #fff;
$mike-y: #f0ad4e;
$mike-bg-y: #eea236;
$mike-g: #4cae4c;
$mike-g-bg: #5cb85c;
$mike-b: #5bc0de;
$mike-b-bg: #46b8da;
$mike-w-e: #eee;
$mike-w-d: #ddd;
$mike-blue: #23527c;
$mike-blue-p: #337ab7;
$alert-notice-c: #31708f;
$alert-notice-bg: #d9edf7;
$alert-notice-bc: #bce8f1;
$alert-alert-c: #8a6d3b;
$alert-alert-bg: #fcf8e3;
$alert-alert-bc: #faebcc;

.navbar.navbar-default.navbar-static-top {
  margin-bottom: 0;
}

.table-search {
  margin-top: 15px;
}

.mike-table-img img {
  max-width: 100px;
}

.mike-admin-product-img {
  margin-top: 10%;
}

.mike-admin-langs {
  .title {
    margin-left: 3%;
  }

  .btn-xs {
    display: inline-block;
    margin-left: 3%;
    padding: 5px;
    width: 45%;
  }
}

.mike-label {
  border-radius: 5px;
  color: $mike-w;
  text-transform: capitalize;

  &.label-pending {
    background-color: $mike-y;
    border-color: $mike-bg-y;
  }

  &.label-confirmed {
    background-color: $mike-b;
    border-color: $mike-b-bg;
  }

  &.label-rejected {
    background-color: $mike-red;
    border-color: $mike-bg-red;
  }

  &.label-done {
    background-color: $mike-g-bg;
    border-color: $mike-g;
  }
}

.mike-action {
  border-radius: 5px;
  color: $mike-w;
  display: inline-block;
  padding: 5px 10px;

  &.mike-action-delete {
    background-color: $mike-red;
  }

  &.mike-action-edit {
    background-color: $mike-y;
  }

  &:hover {
    color: $mike-w;
    opacity: .75;
  }
}

.mike-select-qty input {
  max-width: 35px;
}

.pagination {
  display: block;
  margin: 5px 0;
  text-align: center;

  > span {
    background-color: $mike-w;
    border: 1px solid $mike-w-d;
    color: $mike-blue;
    cursor: pointer;
    margin-left: -1px;
    padding: 6px 12px;
    position: relative;
    text-decoration: none;

    &:hover {
      background-color: $mike-w-e;
      border-color: $mike-w-d;
      color: $mike-blue;
      z-index: 2;
    }

    a {
      text-decoration: none;
    }

    &.current {
      background-color: $mike-blue-p;
      border-color: $mike-blue-p;
      color: $mike-w;
      cursor: default;
      z-index: 3;
    }

    &:first-child {
      border-bottom-left-radius: 4px;
      border-top-left-radius: 4px;
    }

    &:last-child {
      border-bottom-right-radius: 4px;
      border-top-right-radius: 4px;
    }
  }
}

.alert {
  animation: flash-message 5s forwards 3s;
  left: 12%;
  position: absolute;
  top: 25%;
  width: 80%;
  z-index: 9999;

  &.alert-notice {
    background-color: $alert-notice-bg;
    border-color: $alert-notice-bc;
    color: $alert-notice-c;
  }

  &.alert-alert {
    background-color: $alert-alert-bg;
    border-color: $alert-alert-bc;
    color: $alert-alert-c;
  }
}

@keyframes flash-message {
  0% {
    opacity: 1;
    z-index: 9999;
  }

  100% {
    opacity: 0;
    z-index: -9999;
  }
}

.error-explanation {
  color: $mike-red;
  font-style: italic;
  margin-left: 5px;
  margin-top: 8px;

  ul {
    color: $mike-red;
    margin: 0 0 30px;
  }
}
