<tr>
  <td><%= t "admin_page.categories.h_add.name" %></td>
  <td><%= t "admin_page.categories.h_add.desc" %></td>
  <td class="text-center">
    <%= button_tag t("admin_page.w_edit"), name: :edit, type: :button,
      class: "btn btn-outline btn-info" %>
    <%= button_tag t("admin_page.w_delete"), name: :delete, type: :button,
      class: "btn btn-outline btn-danger" %>
  </td>
</tr>
