.top-bar-left .form-search-wapper {
  width: 65%;
}

.single-product .summary .single_add_to_cart_button {
  margin-bottom: 25px;
}

.footer {
  padding-top: 0;

  .footer-bottom {
    margin-top: 0;
  }
}
