<td class="text-center">
  <%= link_to "#", class: "mike-action mike-action-edit" do %>
    <i class="fa fa-pencil"></i>
  <% end %>
  <%= link_to "#", class: "mike-action mike-action-delete" do %>
    <i class="fa fa-times"></i>
  <% end %>
</td>
