<li class="sidebar-search">
  <div class="input-group custom-search-form">
    <%= text_field_tag :admin_search, nil, class: "form-control",
      placeholder: t("admin_page.h_search") %>
    <span class="input-group-btn">
      <%= button_tag name: :admin_search_button, class: "btn btn-default",
        type: :button do %>
        <i class="fa fa-search"></i>
      <% end %>
    </span>
  </div>
</li>
