<div id="box-mobile-menu" class="full-height full-width box-mobile-menu">
  <div class="box-inner">
    <%= link_to "#", class: "close-menu" do %>
      <span class="icon fa fa-times"></span>
    <% end %>
  </div>
</div>
